.load-btn-container{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more{
    display: none;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;

    border: 0;
    background: linear-gradient(180deg, rgba(81,75,180,1) 0%, rgba(64,64,175,1) 38%, rgba(70,102,163,1) 100%);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(35,63,176,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(35,63,176,1);
    box-shadow: 0px 0px 3px 0px rgba(35,63,176,1);

    font-size: 18px;
    font-weight: 700;
    color: white;
}



.lds-ripple {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .lds-ripple div {
    position: absolute;
    border: 2px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 9px;
      left: 9px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 9px;
      left: 9px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 9px;
      left: 9px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 18px;
      height: 18px;
      opacity: 0;
    }
  }
  