.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
}

.gallery a {
    text-decoration: none;
    color: black;
}

.photo-card{
    width: 340px;
    height: 260px;
    //border: 1px solid blue;
    border-radius: 15px;
    margin-bottom: 25px;
    & img{
        border-radius: inherit;
        width: inherit;
        height: 240px;
        // height: auto;
        object-fit: cover;
    }
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info-item{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}